[Desktop Entry]
Type=Application
Name=RTSM
Exec=apprtsm
Icon=app_icon
Terminal=false
X-GNOME-Autostart-Delay=10
Comment=Realtime System Monitor
Categories=System;Utility;
StartupNotify=true
